.movie-card {
  background: #bd9119;
  border-radius: 12px;
  padding: 1rem;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  transition: transform 0.2s ease;

  word-wrap: break-word; 
  overflow-wrap: break-word; 
  white-space: normal;
}

.movie-card:hover {
  transform: translateY(-4px);
  box-shadow: 0 6px 12px rgba(0,0,0,0.15);
}

.movie-card h3 {
  margin: 0 0 0.5rem 0;
  color: #333;
}

.movie-card .review {
  margin-top: 0.75rem;
  font-weight: 500;
  color: #444;
}


.card-buttons {
  display: flex;
  gap: 8px;
  margin-top: 30px;
  justify-content: center;
}

.card-buttons button {
  padding: 6px 10px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
}

.card-buttons button:hover {
  opacity: 0.9;
}

.card-buttons .delete-btn {
  background-color: #dc3545;
  color: white;
}

.card-buttons .delete-btn:hover {
  background-color: #c82333;
}