.movies-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.movie-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  gap: 1rem;
  padding: 1rem;

  width: 100%;        
  max-width: 1800px;
}

.logout-button {
  font-size: 14px;
  padding: 8px 16px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  font-weight: 500;
  transition: all 0.2s ease;
  background-color: #e74c3c;
  color: white;
  margin-left: 10px;
  margin-top: -10px;
  margin-bottom: 50px;
}

.add-movie-button {
  font-size: 14px;
  padding: 8px 16px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  font-weight: 500;
  transition: all 0.2s ease;
  background-color: #3498db;
  color: white;
  margin-left: 10px;
}

.add-movie-button:hover {
  background-color: #2980b9;
}